<h2>Storage Object</h2>

<p>
  This is an example of utilizing the parameters from the route:
  <code>/storage/:bucket/:key(*)</code>
</p>

<p><code>router.params</code> == <code>{{ router.params }}</code></p>

<table>
  <thead>
    <tr>
      <th>Parameter</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Bucket</td>
      <td><code>{{ router.params.bucket }}</code></td>
    </tr>
    <tr>
      <td>Key</td>
      <td>
        <code v-if="router.params.key ">{{ router.params.key }}</code>
        <div v-else>-</div>
      </td>
    </tr>
    <tr>
      <td>Type</td>
      <td>
        <div v-if="router.params.key?.match(/\.\w+$/)">File</div>
        <div v-else>Folder</div>
      </td>
    </tr>
  </tbody>
</table>

<br />

<a href="/storage">Go back</a>
